.home {
  height: 100%;
  padding-top: 55vh;
  overflow: hidden;
  align-items: center;
  text-align: center;
  background: linear-gradient(
      to top right,
      rgba($primary-color, 0.9),
      rgba($primary-color, 0.2)
    ),
    url("../img/model-1.jpg") center 40%;
  background-size: cover;

  &-name {
    font-size: 5rem;
    padding-bottom: 0.5rem;
    margin-bottom: 1.5rem;
    border-bottom: 2px solid #fff;

    &-last {
      color: $secondary-color;
      font-weight: 700;
    }
  }
}
